
<!-- Button trigger modal -->
<div class="modal fade" id="grid_rename_modal" tabindex="-1" role="dialog" aria-labelledby="renameModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Rename</h4>
      </div>
      <form class="form-horizontal" role="form" action="#" method="get">
        <div class="modal-body">
          <div class="form-group">
            <label for="name" class="control-label col-sm-3">New name:</label>
            <div class="col-sm-9"><input type="text" class="form-control" name="name"></div>
          </div>
        </div>
        <!-- .modal-body -->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Rename</button>
        </div>
        <!-- .modal-footer -->
      </form>
    </div>
  </div>
</div>
<!-- /.button trigger modal -->